{% extends 'starter-page.html' %}
{% load static %}

{% block body %}
     <!-- Events Section -->
    <section id="events" class="events section">

      <img class="slider-bg" src="{% static 'assets/img/beach.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">

        <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/birthday.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Birthday Parties</h3>
                  <div class="price">
                    <p><span>Ksh 24,500</span></p>
                  </div>
                  <p class="fst-italic">
                      "Celebrate your special day in style! Host your birthday party with us and enjoy delicious food, vibrant decor, and exceptional service in a warm, festive atmosphere."
                      Package inclusive of:
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span> Private dining areas.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Customized menus.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Themed decorations and cake arrangements.</span></li>
                  </ul>
                  <p>
                      Let’s make your celebration unforgettable!
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/private.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Private Parties</h3>
                  <div class="price">
                    <p><span>Ksh 37,600</span></p>
                  </div>
                  <p class="fst-italic">
                      "Host your next private party with us!"Package inclusive of:
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Entertainment Options: Live music, DJs, or audiovisual setups for speeches and presentations.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Dedicated Staff: Professional servers and event coordinators to manage the party seamlessly.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Event Planning Support: Assistance with organizing seating arrangements, timelines, and special requests..</span></li>
                  </ul>
                  <p>
                      Perfect for any occasion, we’ll create unforgettable memories together!
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

            <div class="swiper-slide">
              <div class="row gy-4 event-item">
                <div class="col-lg-6">
                  <img src="{% static 'assets/img/events-slider/events-slider-3.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>Custom Parties</h3>
                  <div class="price">
                    <p><span>Ksh 57,000</span></p>
                  </div>
                  <p class="fst-italic">
                      Make your celebration uniquely yours! Host a custom party with us and enjoy personalized menus, themed decor, and tailored services to match your vision.
                      Package inclusive of:
                  </p>
                  <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Event Scheduling: Tailored timelines for speeches, games, and other activities.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Interactive Activities: Cooking stations, mixology bars, or chef-curated tastings for a unique experience.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Photography/Videography Services: Collaboration with photographers to capture memorable moments..</span></li>
                  </ul>
                  <p>
                      Let’s bring your dream event to life!
                  </p>
                </div>
              </div>
            </div><!-- End Slider item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Events Section -->

{% endblock %}